body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    /* Light blue background */
  }
  
  .centered-container {
    margin-top: 80px;
    text-align: center; /* Centers the text horizontally */
  }

  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    padding: 2rem;
  }
  
  .team-member-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .top .team-member {
    margin: 20px;
  }
  
  .team-member {
    text-align:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 80px; /* This margin creates space around each team member */
    max-width: 300px; /* Maximum width of each team member */
  }
  
  
  .team-member img {
    width: 150px; /* Image width */
    height: 150px; /* Image height to maintain aspect ratio */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area */
    margin-bottom: 20px; /* Space between image and text */
  }
  
  .team-member h3, .team-member p {
    margin: 0; /* Remove space between name and position */
    display: block; /* Stack name and position */
  }
  
/* Make sure the team member takes up the correct amount of space, including the margin */
.team-member-row .team-member {
    flex: 0 0 calc(33.333% - 360px); /* Subtracting the left and right margin from the width of each item */
    box-sizing: border-box; /* Make sure paddings and borders are included in the width */
    white-space: nowrap; /* Prevents text from wrapping */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  }
  
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .team-member-row .team-member {
      flex: 0 0 100%; /* Each member takes full width on small screens */
      margin: 40px 0; /* Adjusted top and bottom margin for smaller screens */
    }
  }
  